<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
    />

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Css -->
    <link rel="stylesheet" href="./style.css" />

    <title>PHP Dischi JSON</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="d-flex justify-content-center align-items-center">
          <img src="./img/logo.png" alt="Logo Spotify" />
          <h2 class="ms-3 text-white">My playlist</h2>
        </div>
      </header>

      <main class="text-center">
        <!-- Offcanvas to add a new disk -->
        <button
          class="btn btn_custom mt-3"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#staticBackdrop"
          aria-controls="staticBackdrop"
        >
          Add a new album
        </button>

        <div
          class="offcanvas offcanvas-start"
          data-bs-backdrop="static"
          tabindex="-1"
          id="staticBackdrop"
          aria-labelledby="staticBackdropLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">
              New album info:
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <div class="row row-cols-2 g-2">
              <div class="col">
                <input
                  v-model="newDisk.title"
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  aria-label="Title"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.author"
                  type="text"
                  class="form-control"
                  placeholder="Author"
                  aria-label="Author"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.year"
                  type="number"
                  min="1900"
                  max="2024"
                  class="form-control"
                  placeholder="Year"
                  aria-label="Year"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.genre"
                  type="text"
                  class="form-control"
                  placeholder="Musical Genre"
                  aria-label="Musical Genre"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.tracks"
                  type="number"
                  class="form-control"
                  placeholder="Number of tracks"
                  aria-label="Number of tracks"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.duration"
                  type="text"
                  class="form-control"
                  placeholder="Album duration"
                  aria-label="Album duration"
                />
              </div>
              <div class="col">
                <input
                  v-model="newDisk.cover"
                  type="text"
                  class="form-control"
                  placeholder="Cover path"
                  aria-label="Cover path"
                />
              </div>
              <div class="col">
                <textarea
                  v-model="newDisk.tracksList"
                  class="form-control"
                  placeholder="Tracks list"
                  rows="8"
                  id="tracksList"
                ></textarea>
              </div>
            </div>
            <button @click="addNewDisk()" class="btn btn_custom mt-3">
              Aggiungi
            </button>
          </div>
        </div>
        <!-- /Offcanvas -->

        <div class="container w-75">
          <div class="row justify-content-center row-cols-3">
            <!-- Card -->
            <div
              v-for="(disk, id) in diskList"
              :key="id"
              class="col my-3 text-center"
            >
              <div class="card disk_card">
                <img
                  :src="`./img/${disk.cover}`"
                  class="card-img-top"
                  alt="Immagine disco"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ disk.title }}</h5>
                  <h6 class="card-text fst-italic fw-normal">
                    {{ disk.author }}
                  </h6>
                  <h6 class="card-title fw-normal">{{ disk.year }}</h6>
                  <div
                    class="btn_custom my-4"
                    @click="(activeDisk === '' || activeDisk != disk) ? activeDisk = disk : activeDisk = ''"
                  >
                    More info
                  </div>
                  <!-- More info box: at click -->
                  <div class="info_box" v-if="activeDisk === disk">
                    <div class="text-end">
                      <i
                        @click="activeDisk = ''"
                        class="fa-solid fa-circle-xmark close_icon"
                      ></i>
                    </div>

                    <div class="d-flex justify-content-between mt-5">
                      <div
                        class="info_item d-flex flex-column justify-content-center"
                      >
                        <i class="fa-solid fa-music"></i>
                        <p class="card-text mt-2">{{ disk.genre }}</p>
                      </div>
                      <div
                        class="info_item d-flex flex-column justify-content-center"
                      >
                        <i class="fa-solid fa-headphones"></i>
                        <p class="card-text mt-2">{{ disk.tracks }} tracks</p>
                      </div>
                      <div
                        class="info_item d-flex flex-column justify-content-center"
                      >
                        <i class="fa-regular fa-clock"></i>
                        <p class="card-text mt-2">{{ disk.duration }}</p>
                      </div>
                    </div>

                    <div class="mt-4">
                      <h5>Top tracks</h5>
                      <ul class="fst-italic">
                        <li v-for="(track, index) in disk.tracksList">
                          {{track}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /More info box -->
                </div>
              </div>
            </div>
            <!-- /Card -->
          </div>
        </div>
      </main>
    </div>

    <!-- JS -->
    <script src="./script.js"></script>
  </body>
</html>
