body {
  background-color: #1d2d3c;
}

header {
  background-color: #06131f;
  padding: 15px;
}

header img {
  height: 40px;
}

.disk_card {
  background-color: #112030;
  color: #ffffff;
  padding: 20px;
}

a.btn_custom {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: #18d860;
  color: #06131f;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

a.btn_custom:hover {
  color: #ffffff;
  background-color: #159b48;
}
