/* GENERAL */
body {
  background-color: #1d2d3c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn_custom {
  margin: 0 auto;
  width: fit-content;
  background-color: #18d860;
  color: #06131f;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn_custom:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #159b48;
}

/* INDEX.php */
header {
  background-color: #06131f;
  padding: 15px;
}

header img {
  height: 40px;
}

.offcanvas_custom {
  background-color: #1d2d3c;
  color: #ffffff;
}

.album_card {
  background-color: #112030;
  color: #ffffff;
  padding: 20px 20px 10px;
  position: relative;
}

.cta_box i {
  font-size: 1.2rem;
  color: #18d860;
  margin-left: 15px;
}

.close_icon:hover,
.cta_box i:hover {
  color: #159b48;
  cursor: pointer;
}

/* DETAILS.php */
.details_body {
  background-color: #06131f;
}

.details_upper {
  background-color: #293846;
  padding: 80px;
  padding-bottom: 40px;
}

.details_img-box {
  height: 250px;
  width: 250px;
}

.details_img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.details_lower {
  height: 100%;
  padding: 0 120px;
  margin: 0;
  background: linear-gradient(#293846, #06131f);
}

.details_icons {
  font-size: 2rem;
  color: rgba(245, 245, 245, 0.5);
}

.details_icons i {
  padding-right: 20px;
}

.fa-circle-play {
  font-size: 3rem;
  color: #18d860;
}

.tracks_list li {
  color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid rgba(245, 245, 245, 0.2);
}
